body, html {
	margin:0;
	width:100%;
	height:100%;
	color:#444;
	background-color:white;
	font-family:Merriweather, sans-serif;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#main_nav {
	padding:0 3em;
	padding-top:1em;
	font-family:Inconsolata, monospace;
}
	#main_nav > ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
		#main_nav > ul > li {
			display:inline-block;
			margin:0.3em 1em;
			vertical-align:middle;
		}
		#main_nav > ul > li:first-child {
			margin:0.3em 0;
		}
			.logo {
				background-image:url(../img/isometric_white_bordered.png); /* img/logo.svg); */
				background-repeat:no-repeat;
				background-size:contain;
				vertical-align:middle;
				width:2.3em;
				height:3em;
				display:inline-block;
			}
			.github {
				background-image:url(../img/github.png);
				background-size:contain;
				width:1.5em;
				height:1.5em;
				display:inline-block;
			}
		*, *::after, *::before {
			box-sizing:border-box;
		}